$primary-blue: #396aab;
$primary-blue-dark: #2b5284;
$primary-blue-90: rgba(57, 106, 171, 0.9);
$primary-font-grey: #A9ABAC;
$font-family: "Nexa Light", sans-serif;
$desktop-size: '1088px';
$tablet-size: '768px';

//Template overrides

a {
    color: $primary-blue;
}

// Forms
.control-material.is-primary input.material-input:focus ~ label, .control-material.is-primary input:valid ~ label, .control-material.is-primary textarea:focus ~ label {
    color: $primary-blue;
}

.control-material.is-primary .bar:before, .control-material.is-primary .bar:after {
    background: $primary-blue;
}

// Navbar
.navbar {
    @media screen and (max-width: $desktop-size) {
        > .container {
            align-items: center;
            display: flex;
        }
    }
}
.navbar-brand {
    @media screen and (max-width: $desktop-size) {
        display: inline;
        flex: 1 auto;
        min-height: 0;
    }
}
.navbar-menu {
    display: flex;

    @media screen and (max-width: $tablet-size) {
        display: inline;
    }

    @media screen and (max-width: $desktop-size) {
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        padding: 0.5rem 0;
    }

    .navbar-start {
        align-items: stretch;
        display: flex;
        @media screen and (max-width: $tablet-size) {
            display: none !important;
        }
    }
}

// Hero
.hero {
    background: url('~assets/images/mountains.svg');
    background-position: 50% 50% !important;

    .columns {
        justify-content: center;
    }
}

.hero-body {
    padding: 6rem 1.5rem;
}

#process {
    .column {
        padding: 2rem;
    }
}

// Feature cards
.feature-card {
    &.hover-inset {
        &:hover {
            cursor: default;
        }
    }
}

//Team cards
.modern-team-wrapper {
    max-width: 980px;
    margin: 0 auto;
}

.modern-team {
    display: flex !important;
    align-items: center;

    .modern-team-item {
        width: 100%;
        @media screen and (min-width: $tablet-size) {
            width: 40%;
        }
        .item-img {
            border-radius: 10px;
            height: auto;
            &:before {
                background-color: $primary-blue-90;
            }
            img {
                filter: grayscale(100%);
            }
        }
        .member-info {
            .member-name {
                font-weight: 600;
            }
            .member-position {
                color: $primary-blue;
            }
        }
    }
    .modern-team-bio {
        color: $primary-font-grey;
        font-family: $font-family;
        font-size: 1.25rem;
        font-weight: 600;
        flex-shrink: 0;
        line-height: 1.5;
        //letter-spacing: 1px;
        max-height: 382px;
        overflow: auto;
        padding: 1.5rem;
        text-align: left;
        width: 100%;
        @media screen and (min-width: $tablet-size) {
            width: 60%;
        }
        
    }

    &.single {
        justify-content: flex-start;
    }
}

// Components
.button {
    &.primary-btn {
        &:focus {
            border-color: $primary-blue;
        }
        &.btn-outlined {
            border-color: $primary-blue;
            color: $primary-blue;
            &:hover {
                background-color: $primary-blue;
            }
        }
        &.raised {
            &:hover {
                box-shadow: 0 14px 26px -12px rgba(57, 106, 171, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(57, 106, 171, 0.2) !important;
            }
        }
    }
}
#contact-form {
    .help {
        position: absolute;
    }
}
// modified submit btn styles
#submit {
    font-weight: 600 !important;
    &.primary-btn {
        background: transparent;
        border-color: $primary-blue;
        color: $primary-blue;
        &:hover {
            background-color: $primary-blue;
            color: #fff;
        }
    }
    &.is-danger {
        border-width: 2px;
        border-color: #ff3860;
    }
}

// Services cards
.services-cards {
    &.is-minimal {
        .feature-card {
            &:hover {
                i {color: $primary-blue;}
            }
        }
    }
}

.section {
    .title-divider {
        background: $primary-blue;
    }
}

.process-block {
    .process-number {
        background: $primary-blue;
    }
}

.is-block-info {
    padding: 2.5rem;
    background: #ededed;
    ul {
        color: #396aab;
        margin: 1.5rem 0;
        line-height: inherit;
        list-style-position: inside;
        list-style-type: square;
        li {
            line-height: 2;
        }
    }
}

// Footer

footer {
    color: #A9ABAC !important;
    &.footer-dark {
        background: $primary-blue-dark;
    }
}